.video {
  text-align: center;
}
.goto-page1 {
  text-align: center;
}
.goto-page1 a {
  text-decoration: none;
  background-color: yellow;
  border-radius: 30%;
  font-size: 100px;
  padding: 25px;
  color: black;
}
.goto-page1 a:hover {
  color: rgb(249, 247, 247);
  background-color: rgb(69, 67, 75);
  transition: 0.3s;
}
